body {  

    font: 12px "Luciida Grande", "Lucida Sans unicode", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container-fluid {
    width: 99%;
    height: 7000px;
    background-image: url('/img/background2.png');
    background-repeat: repeat-x;
    border-radius: 100px;
    margin: 10px auto;
}


.logo {
    width: 30%;
}

.logo img{
    width: 45px;
    height: 45px;
}

nav {
    width: 75%;
    height: 100%;
}

nav ul {
    width: 50%;
    height: 50px;
    border-radius: 100px;
}

.home {
    width: 100%;
}

.subtitle {
    height: 300px;
    color: #2A66AB;
    font-size: 28px;
    margin-top: 130px;
}

.subtitle p {
    font-size: 20px;
    color: #3086EB;
}


.subtitle h2{
    font-size: 42px;
    font-weight: bold;
}

.icon {
    width: 50%;
    height: 40px;
}

.icon img{
    height: 30px;
    width: 30px;
}


.icon p {
    height: 30px;
    width: 50%;
    font-weight: bold;
    font-size: 12px;
}

.icon p a{
    color: black;
}


.btn {
    border-radius: 100px;
}

.btn button{
    color: #007bff;
}


.rounded-custom {
    border-radius: 25px;
    padding: 10px 20px;

}

.rounded-custom:hover {
    background-color: aqua;
}

.img-fluid img{
    height: 580px;
    width: 430px;
    margin-top: 60px;
}


.espaco{
    height: 200px;
}

#benefits-section{
    height: 1000px;
}


#row-benefits-section{
    height: 500px;
    margin-top: 100px;
}

#aspas {
    height: 70px;
    float: left;
}

.check-col{
    height: 300px;
}

.row-check-col {
    height: 220px;
}

.check-col .row-check-col .row .col-6{
    height: 80px;
}

.check-col .row-check-col .row .col-6 p{
    margin: 10px;
}

.localization-section {
    background-image: url("/img/background3.png");
    width: 100%;
    height: 650px;
    border-radius: 100px;

}


/* .localization-section img{ 
    width: 120px;
    height: 100px;
    margin-bottom: 30px;
    margin-right: 100px;
    margin-left: 60px;
    border: 2px solid red;
} */


.localization-section-img{
    width: 65%;
}

.localization-section-img img{ 
    width: 120px;
    height: 100px;
}


.localization-section h2{
    height: 150px;
    margin-bottom: 30px;
}

.localization-section button{
    margin-top: 20px;
}

.testimonials-section{
    background-image: url("/img/background3.png");
    height: 1000px;
    margin-top: 50px;
    border-radius: 100px;
}

.testimonials-content {
    height: 90%;
    width: 90%;
}

.testimonials-content .row{
    width: 100%;
}

.testimonials-content .row .col-4{
    width: 100%;
}

.testimonials-content-icons {
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.testimonials-content-icons .block{
    background-color: white;
    height: 240px;
    width: 240px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.testimonials-content-icons .block img{
    height: 75px;
    width: 75px;
}

.testimonials-content-icons .block h2{
    width: 100%;
    margin-top: 30px;
}

.specialization-section {
    margin-top: 50px;
}

.specialization-content{
    background-image: url("/img/background3.png");
    height: 1100px;
    border-radius: 100px;
}


.specialization-block {
    height: 400px;
    width: 32%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: white;
}

.specialization-block h2,p{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.specialization-block  img {
    height: 65%;
    width: 100%;
}

.specialization-block .specialization-block-content {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}




.specialization-content .col-8 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.service-section {
    background-image: url("/img/background3.png");
    height: 3000px;
    border-radius: 100px;
    margin-top: 50px;
}

.service-content {
    width: 100%;
    height: 100%;
}

.service-content-superior{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
 
.service-block {
    background-color: white;
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;
   
}

.service-block img{
    width: 410px;
    border-radius: 10px;
}

.service-block-botao-check {
    height: 50px;
    border-radius: 100%;
}

.service-block .row .col-10 h2 {
    width: 100%;
}

.service-block .row .col-10 img {
    width: 15%;
}

.service-block .row .col-10 p {
    width: 85%;
}

.service-block .row .col-10 .service-block-number {
    width: 100%;

}

.service-block .row .col-10 .service-block-number p{
    height: 35px;
    margin-top: 10px;
}










.price-section {
    background-image: url("/img/background3.png");
    height: 730px;
    border-radius: 100px;
}

.price-section-content {
    width: 100%;
    height: 700px;
    margin-top: 30px;
}


.price-section-superior{
    height: 150px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.price-section-block {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid;
}

.price-section-block .block-1{
    background-color: white;
    height: 400px;
    width: 300px;
    border-radius: 10px;
}


.price-section-block .block-2{
    background-color: white;
    height: 400px;
    width: 300px;
    border-radius: 10px;
}

.price-section-block .block-3{
    background-color: rgb(37, 98, 166);
    height: 400px;
    width: 300px;
    border-radius: 10px;
}















/* .service-block .row .col-10 img{
   
} */


/* height: 300px;
width: 26%;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
margin-bottom: 20px;
border: 2px solid gray; */